n8n/2Chat Business appointment.json
{
  "name": "2Chat Business appointment",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.last_user_message }}",
        "options": {
          "systemMessage": "=**Situation**\nYou are an AI assistant for a dental clinic's Google Calendar system, operating on {{ DateTime.local().toFormat('cccc d LLLL yyyy') }}. The clinic requires precise and professional calendar management for patient appointments.\n\n**Task**\nManage dental clinic appointments by:\n1. Creating appointments with complete patient and service details\n2. Checking calendar availability\n3. Providing clear, helpful communication about scheduling options\n\n**Objective**\nOptimize patient scheduling by ensuring:\n- Accurate appointment booking\n- Efficient time slot management\n- Seamless patient experience\n\n**Knowledge**\nCritical scheduling parameters:\n- Appointment duration: 1 hour\n- Operating hours: 8 am to 6 pm\n- Date format: YYYY-MM-DD HH:mm:ss\n- Required appointment details:\n  * start_date\n  * end_date\n  * email\n  * name\n  * service_required\n  * phone number\n\nBooking Rules:\n- Do not create events for busy time slots\n- If requested time is unavailable, provide alternative slots on the same day\n- Event description must include:\n  * Customer name\n  * Service\n  * Customer phone number\n\n**Examples**\nAppointment Creation Example:\n- Name: John Doe\n- Service: Dental Cleaning\n- Start Date: 2023-12-15 10:00:00\n- End Date: 2023-12-15 11:00:00\n- Email: john.doe@example.com\n- Phone: +1234567890\n\nCommunication Guidelines:\n- Be proactive in gathering missing information\n- Confirm all details before finalizing\n- Match communication language to user's input\n- Provide clear, helpful guidance\n\nWhen initial request is vague:\n1. Explain capabilities\n2. List dental services\n3. Request specific appointment date"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        220,
        0
      ],
      "id": "ec228c3d-aad5-42df-a041-8872f85b9ff7",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        100,
        220
      ],
      "id": "4249a6f0-5def-488a-888b-d511a5a63052",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ff2XWCQVdNKhPVXH",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use this Google Calendar tool when you are asked to create an appointment always for 1 hour.",
        "calendar": {
          "__rl": true,
          "value": "c_be24ec57fa816eb5fbc40808556776ef171668da519f3975175c1e84981e3718@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Demo Business Calendar"
        },
        "start": "={{ $fromAI('start_date') }}",
        "end": "={{ $fromAI('end_date') }}",
        "additionalFields": {
          "attendees": [
            "={{ $fromAI('email') }}"
          ],
          "description": "={{ $fromAI('event_description') }}",
          "summary": "={{ $fromAI('event_title') }} "
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.2,
      "position": [
        520,
        260
      ],
      "id": "ae1f2858-a00b-45b8-bfca-7cb1ff8700db",
      "name": "Google Calendar Create Appointment",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "A6yAxRJO5ypad68Q",
          "name": "Google Calendar account 2"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "appointmentagent",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "9de10172-7e6f-47f3-aa86-a833c42c0c20",
      "name": "Webhook",
      "webhookId": "473f0f2a-7aba-4e67-8228-de137db67e3c"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        580,
        0
      ],
      "id": "fd3409d6-94b6-49ec-b52c-21e8c33cee79",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.from_number }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        300,
        220
      ],
      "id": "6042b6f6-34d6-4a93-9457-0cc9f3a8e555",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Check availability in a date range to check busy time slots",
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "c_be24ec57fa816eb5fbc40808556776ef171668da519f3975175c1e84981e3718@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Demo Business Calendar"
        },
        "returnAll": true,
        "options": {
          "timeMin": "={{ $fromAI('start_date') }}",
          "timeZone": {
            "__rl": true,
            "value": "America/Bogota",
            "mode": "list",
            "cachedResultName": "America/Bogota"
          }
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.2,
      "position": [
        680,
        260
      ],
      "id": "7caec7b1-4492-49a7-b93d-d05e54f03142",
      "name": "Google Calendar check availability",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "A6yAxRJO5ypad68Q",
          "name": "Google Calendar account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar Create Appointment": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar check availability": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "03b1e0d8-07f4-4b0b-96d2-c05f14a51139",
  "meta": {
    "instanceId": "42b0153bb0b87911206cc83630f0a89581f3e06f37e89c4e54511a0dd577ace1"
  },
  "id": "Om5nNp82NkxPI1ys",
  "tags": []
}